<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>常规地图显示</string>
		<key>vcName</key>
		<string>MapViewNormalController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>显示小蓝点</string>
		<key>vcName</key>
		<string>MapViewBlueNodeController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>自定义小蓝点</string>
		<key>vcName</key>
		<string>MapViewDefineBlueNodeController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>持续定位</string>
		<key>vcName</key>
		<string>MapViewAlwaysGPSController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>地理编码</string>
		<key>vcName</key>
		<string>MapViewGeoCodeController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>反地理编码</string>
		<key>vcName</key>
		<string>MapViewReGeoCodeController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>POI检索</string>
		<key>vcName</key>
		<string>MapViewPOISearchController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>控件交互</string>
		<key>vcName</key>
		<string>MapViewControlsController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>手势交互</string>
		<key>vcName</key>
		<string>MapViewGesturesController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>单次定位</string>
		<key>vcName</key>
		<string>MapViewOneGPSController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>后台定位</string>
		<key>vcName</key>
		<string>MapViewBackGPSController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>截屏功能</string>
		<key>vcName</key>
		<string>MapViewScreenshotsController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>绘制标记点</string>
		<key>vcName</key>
		<string>MapViewDrawPointController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>自定义标记点</string>
		<key>vcName</key>
		<string>MapViewDefinePointController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>绘制折线</string>
		<key>vcName</key>
		<string>MapViewDrawBrokeLineController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>绘制面</string>
		<key>vcName</key>
		<string>MapViewDrawFaceController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>海量点图层</string>
		<key>vcName</key>
		<string>MapViewDrawMassPointController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>关键字检索(POI)</string>
		<key>vcName</key>
		<string>MapViewKeyWordPOIController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>检索周边POI</string>
		<key>vcName</key>
		<string>MapViewSurroundPOIController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>检索多边形内POI</string>
		<key>vcName</key>
		<string>MapViewPloygonPOIController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>根据ID检索POI</string>
		<key>vcName</key>
		<string>MapViewIDPOIController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>根据输入给出提示语检索POI</string>
		<key>vcName</key>
		<string>MapViewAutomaticInputPOIController</string>
	</dict>
</array>
</plist>
